<!-- <footer class="footer text-center" style="background-color: white;">
    <hr />
    <p class="fw-bold-light">Official Platform for <b>Support Desk</b> &copy; {{currentYear}}</p>
  </footer> -->

  <div class="page-wrapper">
    <!-- Вашата главна содржина -->
    <div class="container">
      <!-- Твојата содржина тука -->
    </div>
    <footer class="footer text-center" style="background-color: white;">
      <hr />
      <p class="fw-bold-light">Official Platform for <b>Support Desk</b> &copy; {{currentYear}}</p>
    </footer>
  </div>
  